@page
@using ShahrChap.DataLayer.Entities.Permissions
@model ShahrChap.Web.Pages.Admin.Roles.CreateRoleModel
@{
    ViewData["Title"] = "- افزودن نقش";
    List<Permission> permissions = ViewData["Permissions"] as List<Permission>;
}
<div class="row mb-2">
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">صفحه نخست</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Roles">لیست نقش ها</a></li>
            <li class="breadcrumb-item active">افزودن نقش جدید</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
    <form method="post">
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    افزودن نقش جدید
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان نقش</label>
                        <input type="text" asp-for="Role.RoleTitle" class="form-control">
                        <span asp-validation-for="Role.RoleTitle"></span>
                    </div>
                        
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    دسترسی های نقش
                </div>
                <div class="panel-body">
                    <ul>
                        @foreach (var item in permissions.Where(p => p.ParentId == null))
                        {
                            <li>
                                <input type="checkbox" name="SelectedPermission" value="@item.PermissionId" /> @item.PermissionTitle
                                @if (permissions.Any(p => p.ParentId == item.PermissionId))
                                {
                                    <ul>
                                        @foreach (var sub in permissions.Where(p => p.ParentId == item.PermissionId))
                                        {
                                            <li>
                                                <input type="checkbox" name="SelectedPermission" value="@sub.PermissionId" /> @sub.PermissionTitle
                                                @if (permissions.Any(p => p.ParentId == sub.PermissionId))
                                                {
                                                    <ul>
                                                        @foreach (var underSub in permissions.Where(p => p.ParentId == sub.PermissionId))
                                                        {
                                                            <li>
                                                                <input type="checkbox" name="SelectedPermission" value="@underSub.PermissionId" /> @underSub.PermissionTitle
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
                <a href="/Admin/Roles" class="btn btn-default"><i class="uil uil-angle-right"></i> بازگشت</a>
                <input type="submit" value="ثبت نقش" class="btn btn-success" />
        </div>
    </form>
    </div>
</div>