@page "{id}"
@model ShahrChap.Web.Pages.Admin.Products.AddProductFeaturesModel
@{
    ViewData["Title"] = "- افزودن ویژگی‌ها";
    List<int> SelectedFeatures = ViewData["SelectedFeatures"] as List<int>;
}
<div class="row mb-2">
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">صفحه نخست</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Products">لیست محصولات</a></li>
            <li class="breadcrumb-item active">افزودن ویژگی به @Model.CurrentProduct.ProductTitle</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form method="post">
            <input type="hidden" name="ProductId" value="@Model.CurrentProduct.ProductId" />
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">افزودن ویژگی به @Model.CurrentProduct.ProductTitle</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <ul class="feature-list mt-3">
                                @foreach (var feature in Model.Features)
                                {
                                    <li id="featureItem_@feature.FeatureId">
                                        <input type="checkbox" @((SelectedFeatures.Any(p => p == feature.FeatureId) ? "checked" : "")) name="SelectedFeature" id="Feature_@feature.FeatureId" value="@feature.FeatureId">
                                        <label for="Feature_@feature.FeatureId">@feature.FeatureTitle</label>
                                    </li>

                                }
                            </ul>
                        </div>
                        <a href="/Admin/Products" class="btn btn-default">
                            <i class="uil uil-angle-right"></i> بازگشت
                        </a>
                        <input type="submit" value="ثبت" class="btn btn-success" />
                    </div>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>