@page "{productId}"
@model ShahrChap.Web.Pages.Admin.ImageGallery.IndexModel
@{
    ViewData["Title"] = "- گالری تصاویر";
    var productTitle = ViewData["ProductTitle"];
}

<div class="row mb-2">
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin"><i class="uil uil-estate"></i> صفحه نخست</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Products"><i class="uil uil-list-ul"></i> لیست محصولات</a></li>
            <li class="breadcrumb-item active text-success"><i class="uil uil-images"></i> گالری تصاویر @productTitle</li>

        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ImageGallery.ProductId" value="@Model.ProductId" />
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        افزودن تصویر جدید
                    </div>
                    <div class="panel-body">
                        <img id="imgProduct" class="thumbnail mb05 user-avatar" src="/product/image/NoImage.jpg">
                        <div class="form-group">
                            <label>انتخاب تصویر</label>
                            <input type="file" name="imgProduct" asp-for="ImageGallery.ImageName" />
                        </div>
                        <div class="form-group">
                            <label>عنوان تصویر</label>
                            <input type="text" asp-for="ImageGallery.ImageTitle" class="form-control">
                            <span asp-validation-for="ImageGallery.ImageTitle"></span>
                        </div>
                        <a href="/Admin/Products" class="btn btn-default"><i class="uil uil-angle-right"></i> بازگشت</a>
                        <button type="submit" asp-page-handler="CreateGallery" class="btn btn-success"><i class="uil uil-upload"></i> آپلود</button>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <table class="table table-striped table-bordered table-hover dataTable no-footer table-text-center" id="dataTables-example" aria-describedby="dataTables-example_info">
            <thead>
                <tr>
                    <td>تصویر</td>
                    <td>عنوان</td>
                    <td>دستورات</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GalleryList)
                {
                    <tr>
                        <td><img src="/product/thumb/@item.ImageName" class="thumbnail" /></td>
                        <td>@item.ImageTitle</td>
                        <td>
                            <form method="post" id="deleteForm" asp-page-handler="DeleteGallery">
                                <input type="hidden" name="productId" value="@Model.ProductId" />
                                <input type="hidden" name="galleryId" value="@item.ProductGalleryId" />
                                <button type="submit" class="btn btn-sm btn-danger" onclick="confirmDelete()">
                                    <i class="uil uil-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function confirmDelete() {
        if (confirm("آیا از حذف این تصویر مطمئن هستید؟")) {
            document.getElementById("deleteForm").submit();
        }
    }
    $(document).ready(function () {
            $('#ImageGallery_ImageName').change(function (event) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgProduct').attr('src', e.target.result);
                }
                reader.readAsDataURL(event.target.files[0]);
            });
        });
</script>